a {
    position: fixed;
    left: calc(50% - 40px);
    font-size: 20px;
    color: rgba(128, 128, 128, 0.25);
    mix-blend-mode: difference;
    text-decoration: none;
    bottom:8%;
    left:48%;
}
#conte{
    position:fixed;
    top:35%;
    left:35%;
    z-index:1000;
    color: black;
    
}